<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <!-- 代码高亮css -->
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/layui/layer.css}" type="text/css"/>
    
    
    <script th:src="@{/js/jquery-3.8.min.js}" ></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js" ></script>
    <!-- 代码高亮 -->
    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script th:src="@{/js/bs_common.js}" ></script>
    <script th:src="@{/layui/layer.js}" ></script>
    <!--OSS-->
    <script type="text/javascript" src="http://gosspublic.alicdn.com/aliyun-oss-sdk.min.js"></script>
    <style>
        body{
            background-size: cover !important;
        }
        .box{
            width: 60%;
            padding: 10px;
            background-color: white;
            margin: 10px auto 0;
        }
        .btns {
            width: 30%;
            margin: -15px auto 0;
        }
        .btns .btn{
            
        }
        .cate_se {
            padding: 10px;
        }
        .panel-cover--overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            display: block;
            background-color: rgba(68, 68, 68, 0.6);
            /*background-image: -webkit-linear-gradient(-410deg, rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));*/
            /*background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));*/
        }
        #title{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="box">
    <input type="text" class="form-control" id="title" placeholder="请输入标题">
    <div id="wangEdit"></div>
    <div class="form-group cate_se">
        <label for="cateitemSelect">类别：</label>
        <select class="selectpicker form-control" id="cateitemSelect" name="cate">
            <option value="">--请选择--</option>
        </select>
    </div>
    
    <div class="btns">
        <button class="btn btn-success" onclick="submitBoke()">提交</button>
        <button class="btn btn-danger" onclick="editor.txt.clear()" style="float: right">清空</button>
    </div>
</div>
<div id="asdasdasdasd">
    
</div>
    <!--遮罩层-->
<div class="panel-cover--overlay"></div>
</body>
<script type="text/javascript">

    $(function () {
        document.body.style.background = "url(/img/bokebg/" + ranNUm(1,10) + ".jpg) top left no-repeat";
        $('#cateitemSelect').selectpicker({width:120});
        initSelectOptions("cateitemSelect", "/getAllCates","rows","cateId","cateName");
        // $('#cateitemSelect').selectpicker('refresh');
        $('#cateitemSelect').selectpicker('render');
    });
    
    const E = window.wangEditor
    const editor = new E("#wangEdit")
    // 或者 const editor = new E(document.getElementById('div1'))
    // 设置编辑区域高度为 500px
    editor.config.height = 600
    editor.config.zIndex = 500
    // 取消自动 focus
    editor.config.focus = false
    // editor.config.placeholder = '' // 不想使用 placeholder ，赋值为空字符串即可
    // 可使用 editor.txt.clear() 清空编辑器内容。
    // 使用 editor.txt.text() 获取 text 文本。
    // 使用 editor.txt.html() 获取 html
    // 还可以修改历史记录的步数。默认 30 步
    editor.config.historyMaxSize = 50 // 修改为 50 步
    // 默认情况下，显示所有菜单
    editor.config.menus = [
        'head',
        'bold',
        'fontSize',
        'fontName',
        'italic',
        'underline',
        'strikeThrough',
        'indent',
        'lineHeight',
        'foreColor',
        'backColor',
        'link',
        'list',
        // 'todo',
        'justify',
        'quote',
        // 'emoticon',
        'image',
        // 'video',
        'table',
        'code',
        'splitLine',
        'undo',
        'redo',
    ]
    // 挂载highlight插件
    editor.highlight = hljs
    //插入代码语言配置
    editor.config.languageType = [
        // 'Bash',
        'Java',
        'C',
        'C#',
        'C++',
        'CSS',
        'JavaScript',
        'JSON',
        // 'TypeScript',
        // 'Plain text',
        'Html',
        'XML',
        // 'SQL',
        // 'Go',
        // 'Kotlin',
        // 'Lua',
        // 'Markdown',
        // 'PHP',
        // 'Python',
        // 'Shell Session',
        // 'Ruby',
    ]
    // 自定义检查插入的链接
    editor.config.linkCheck = function(text, link) {
        // 以下情况，请三选一

        // 1. 返回 true ，说明检查通过
        return true

        // // 2. 返回一个字符串，说明检查未通过，编辑器会阻止链接插入。会 alert 出错误信息（即返回的字符串）
        // return '链接有 xxx 错误'

        // 3. 返回 undefined（即没有任何返回），说明检查未通过，编辑器会阻止链接插入。
        // 此处，你可以自定义提示错误信息，自由发挥
    }
    // 自定义检查插入图片的链接
    // 参数中的imgSrc、alt、href分别代表图片地址、图片文本说明和跳转链接
    // 后面两个参数是可选参数
    editor.config.linkImgCheck = function(imgSrc,alt,href) {
        // 以下情况，请三选一

        // 1. 返回 true ，说明检查通过
        return true

        // // 2. 返回一个字符串，说明检查未通过，编辑器会阻止图片插入。会 alert 出错误信息（即返回的字符串）
        // return '图片 src 有 xxx 错误'

        // 3. 返回 undefined（即没有任何返回），说明检查未通过，编辑器会阻止图片插入。
        // 此处，你可以自定义提示错误信息，自由发挥
    }
    // 可以通过配置 editor.config.pasteIgnoreImg = true 来忽略粘贴的图片
    // 可使用 base64 格式保存图片。即，可选择本地图片，编辑器用 base64 格式显示图片。
    // editor.config.uploadImgShowBase64 = true
    editor.config.customUploadImg = function (resultFiles, insertImgFn) {
        // resultFiles 是 input 中选中的文件列表
        var daw = new FormData();
        for(var i=0;i<resultFiles.length;i++){
            daw.append("files",resultFiles[i]);
        }
        // insertImgFn 是获取图片 url 后，插入到编辑器的方法
        $.ajax({
            type: 'post',
            url: "/oss/upload", //上传文件的请求路径必须是绝对路劲
            data: daw,
            cache: false,
            processData: false,
            contentType: false,
            success:function (data) {
                var urlMaps = data.result;
                for (let i = 0; i < urlMaps.length; i++) {
                    insertImgFn(urlMaps[i].ossFileUrlBoot);
                }
            },
            error:function () {
                alert("上传失败");
            }
        }); 
    }
    editor.create()
    
    function submitBoke() {
        var text = editor.txt.text().trim();
        var html = editor.txt.html().trim();
        var title = $("#title").val().trim();
        var cateId = $("#cateitemSelect").val();
        // console.log(text)
        // console.log(html)
        $("#reslsss").html(html)
        if (title.length > 0 && html.length > 0 && cateId.length > 0) {
            $.post({
                url : "/addBoke",
                dataType : "json",
                data:{title:title,bokeCont:html,cateId:cateId},
                success : function (data) {
                    layer.msg(data.result);
                }
            })
        }
    }
    $(".panel-cover--overlay").css("width",document.body.offsetWidth)
    $(".panel-cover--overlay").css("height",document.body.offsetHeight+100)

    var if_bokeId = sessionStorage.getItem('bokeId');
    if (if_bokeId != null) {
        $.ajax({
            url: "/getBoke/" + if_bokeId,
            success : function (data) {
                var boke = data.result;
                console.log(JSON.stringify(boke))
                $("#title").val(boke.title);
                $("#cateitemSelect").val(boke.cateId);
                editor.txt.html(boke.bokeCont);
                sessionStorage.removeItem('bokeId');
$("#asdasdasdasd").html(boke.bokeCont)
            }
        })
    }
</script>

</html>